:root{
    --clr-white: hsl(0, 0%, 100%);
    --clr-stone100: hsl(30, 54%, 90%);
    --clr-stone150: hsl(30, 18%, 87%);
    --clr-stone600: hsl(30, 10%, 34%);
    --clr-stone900: hsl(24, 5%, 18%);
    --clr-stone800: hsl(14, 45%, 36%);
    --clr-rose800: hsl(332, 51%, 32%);
    --clr-rose50: hsl(330, 100%, 98%);
}

@font-face {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400, 600, 700;
  src: url(https://fonts.gstatic.com/s/outfit/v14/QGYvz_MVcBeNP4NJtEtq.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Young Serif';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/youngserif/v2/3qTpojO2nS2VtkB3KtkQZ1t93kY.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}